body {
  background-color: #F8F8F8;
}

.header {
  background: #ffffff;
}

.header__inner {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
  width: 1512px;
  height: 53px;
}

.header__logo {
  color: #F5C800;
  text-decoration: none;
  font-family: jsMath-cmti10;
  font-size: 30px;
}
