.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  max-width: 1162px; 
  margin: auto; 
}

.grid-item {
  background-color: #f8f8f8; 
  padding: 10px;
  text-align: center;
}

.grid-item img {
  width: 374px;
  height: 350px;
}

